@import 'src/accets/style/sass/variables';
@import 'src/accets/style/sass/mixins';

.iconsContainer {
    width: 200px;
    @include positionBlocks(row, space-between);
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
}
.icon {
    font-size: 2em;
    color: $color-secondary;
    &:hover {
        color: $color-primary;
        transform: translateY(-5px);
        transition: 0.5s;
    }
}