$color_1: var(--color-primary);
$color_2: rgba(198,201,216,.75);
$font-family_1: "Poppins",sans-serif;

.title {
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    font-size: var(--h3);
    line-height: 1.4074;
    color: $color_1;
    margin: 10px 0 20px;
    font-family: $font-family_1;
    text-align: center;
    h2 {
        margin: 0;
    }
    p {
        color: $color_2;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 2px;
        background: var(--color-primary);
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
}
