@import 'src/accets/style/sass/variables';
@import 'src/accets/style/sass/mixins';

@media screen and (max-width: 833px) {
    .projectContainer {
        width: 100%;
    }
}
@media screen and (min-width: 834px) {
    .projectContainer {
        width: 250px;
    }
}
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.portfolioProject {
    min-height: 400px;
    width: 100%;
    border-radius: 5px;
    z-index: 4;
    background-position: center;
    &:hover {
        transform: translateY(-5px);
        transition: 0.3s;
    }
}
.projectPreview {
    transition: transform 0.28s ease;
    z-index: 3;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 5px;
    @include positionBlocks(row, center, flex-end);

    &:hover {
        background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 32%, $color-primary 100%);
        background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 32%, $color-primary 100%);
        background: linear-gradient(0deg, rgba(0,0,0,1) 32%, $color-primary 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr=$color-primary,GradientType=1);
        opacity: 0.7;
    }
}
.content {
    @include positionBlocks(column, center, center);
    margin: 10px 10px 30px 10px;
}
.linkDemo {
    color: $color-secondary;
    padding: 0 23px;
    height: 40px;
    display: inline-block;
    line-height: 34px;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    &:hover {
        color: $color-secondary;
        border: 2px solid $color-primary;
        background: $color-primary;
        cursor: pointer;
    }
}
.projectTitle {
    margin: 0;
    @include textStyle(16px, 1.4074);
    font-weight: 500;
    text-transform: capitalize;

}
.projectDescription {
    @include textStyle(14px, 1.7);
}
.buttonLink {
    margin-top: 35px;
    transition: 0.7s;
}