.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconsContainer{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border: 1px solid;
}