$background-color_1: #101010;

@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;
    }
}
.skillsContainer {
    background-color: $background-color_1;
    min-height: 100vh;
}
.skillBlock {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.skills {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
